<%- include("home/header") %>

<!DOCTYPE html>


<html>
<head>

  <link rel="shortcut icon" type="icon/icon" href="icon/icon.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Oscar Arnflo">
  <meta name="description" content="Gustav Arnflo">

<title>рќ•„рќ•†рќ•†в„• рќ•ѓрќ•Ђрќ”ѕв„Ќрќ•‹рќ•Љ</title>
<link rel="stylesheet" type="text/css" href="css/moonlightsstore.css">
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
</head>

<body>
  <header>

  <div class="nav-bar">
    <a href="/" class="home"><img src="img/moonlightsstore.png" class="moonlightsstore"></a>
    <ul class="menu">
        <li><a href="">link me </a></li>
        <li><a href="index">login</a></li>
      <li><a href="register">sign up</a></li>
    </ul>
  </div>

  <div class="Welcome cotainer">
    
  </div>


</header>

</body>
</html>

<%- include("home/footer") %>