<%- include("home/header") %>
<%- include("home/navbar") %>
<div class="mt-5">


<div class="formbox">
    <img src="img/profile.png" class="profile">
    <h1>Home</h1>
    <p>{gurraoptimus}</p>
    <form action="/" method="POST">
    
    </form>

    </div>
</div>
<%- include("home/footer") %>
