<%- include("home/header") %>
<div class="container">
<div class="mt-5">

               <div class="formbox">
                    <img src="img/profile.png" class="profile">
                    <h1> Login here</h1>
                    <form action="/" method="POST">
                         <p>Username</p>
                         <input type="text" name="username" placeholder="username">
                         <p>Password</p>
                         <input type="password" name="password" placeholder="password">
                         <button type="submit" value="Login" class="btn btn-sm btn-primary">Login</button><br>

                         <a href="/">back first page</a><br>
                         
                    </form>

                    </div>
</div>
</div>
<%- include("home/footer") %>
      
