<%- include("home/header") %>
<div class="container"></div>
<div class="mt-5">

<!DOCTYPE html>


<html>
<head>

<!--<link rel="stylesheet" type="text/css" href="css/webb.css">
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
</head>

<body>
  <header>

  <div class="nav-bar">
  <a href="/" class="home"><img src="img/moonlightsstore.png" class="moonlightsstore"></a>
    <ul class="menu">
      <li><a href="members">members</a></li>
      <li><a href="sign-up">sign up</a></li>
      <li><a href="contact">contact</a></li>
      <li><a href="about">about</a></li>
    </ul>
  </div>-->


     <div class="formbox">
       <img src="img/profile.png" class="profile">
        <h1> Login here</h1>
         <form action="/" method="POST">
             <p>Username</p>
           <input type="text" name="username" placeholder="username">
          <p>Password</p>
         <input type="password" name="password" placeholder="password">
      <button type="submit" value="Login" class="btn btn-sm btn-primary">Login</button><br>
  <a href="/">back first page</a><br>
                         
     </form>

   </div>
</div>
</div>
<%- include("home/footer") %>
      
