<%- include("home/header") %>

<div class="mt-5">

<h1>Sorry you lost account.  </h1>



<div id="mailto" class="formbox">
    <h1>send your email!</h1>
        <form action="/lost-account" method="POST">
            <input type="text" name="email" placeholder="E mail">
            <a href="mailto:gustav_gurkan@hotmail.se">email</a>
            <button type="Submit" class="btn btn-sm btn-success">send</button>
        </form>
    </div>
</div>

<%- include("home/footer") %>