<%- include("home/header") %>
<div class="mt-5">


<div class="formbox">
    <img src="img/profile.png" class="profile">
    <h1>Members list</h1>
    <p>Owner Gustav-Arnflo</p>
    <p>Admin Gustav-Arnflo/Armin-Kemura</p>
    <p>Moderator Gustav-Arnflo/Armin-Kemura</p>
    <form action="/" method="POST">
         <a href="/home">back to home</a><br>
         
    </form>

    </div>
</div>
</div>

<%- include("home/footer") %>