<%- include("home/header") %>
<div class="mt-5">

<h1>Members list.</h1>



<div class="formbox">
    <img src="img/profile.png" class="profile">
    <h1>member</h1>
    <h2>owner</h2>
    <h3>adim</h3> 
    <h4>moderator</h4>
    <form action="/" method="POST">
         <a href="/home">back to home</a><br>
         
    </form>

    </div>
</div>
</div>

<%- include("home/footer") %>