<!DOCTYPE html>


<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Oscar Arnflo">
  <meta name="description" content="Gustav Arnflo">

<title>ğ•„ğ•†ğ•†â„• ğ•ƒğ•€ğ”¾â„ğ•‹ğ•Š</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">

    <script src="jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
</head>

<body>
  <header>

  <div class="nav-bar">
  <img src="moon_light.png" class="moon_light">
    <ul class="menu">
      <li><a href="file:///C:/Users/Gustav/Desktop/arnflo.se/gurra_optimus.html">Home</a></li>
      <li><a href="file:///C:/Users/Gustav/Desktop/arnflo.se/Services.html">Services</a></li>
      <li><a href="file://C:/Users/Gustav/Desktop/arnflo.se/Contact.html">Contact</a></li>
    </ul>
  </div>

  <div class="Welcome cotainer">
    <h1>Services</h1>
    <a href="https://open.spotify.com/user/gurra_optimus?si=OXRtvgDDTZK6RkwqE5TgcQ" class="btn btn1">SPOTIFY</a>
    <a href="#" class="btn btn2">YOUTUBE</a>
  </div>

</header>

<script>
      (new Image()).src="pikaboo2.jpg"; //Cache ;)
      $(document).ready(function() {
        $("img").hover(function() {
          $(this).attr("src","pikaboo2.jpg");
        }, function() {
          $(this).attr("src","hideboo2.jpg");
        });
      });

      particlesJS.load('particles', 'particles.json');
    </script>

</body>
</html>
