<%- include("home/header") %>
<div class="container"></div>
<div class="mt-5">

<!DOCTYPE html>


<html>
<head>

<!--<link rel="stylesheet" type="text/css" href="css/webb.css">
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
</head>

<body>
  <header>

  <div class="nav-bar">
  <a href="/" class="home"><img src="img/moonlightsstore.png" class="moonlightsstore"></a>
    <ul class="menu">
      <li><a href="members">members</a></li>
      <li><a href="index">login</a></li>
      <li><a href="contact">contact</a></li>
      <li><a href="about">about</a></li>
    </ul>
  </div>-->

    <div id="Sign-up" class="formbox">
        <h1>Sign up!</h1>
            <form action="/sign-up" method="POST">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="text" name="modCode" placeholder="Moderator Code">
                <input type="text" name="adminCode" placeholder="Admin Code">
                <button type="Submit" class="btn btn-sm btn-success">Submit</button>
            </form>
      </div>
    </div>
  </div>
</div>    
<%- include("home/footer") %>
