<%- include("home/header") %>

<!DOCTYPE html>


<html>
<head>

  <link rel="shortcut icon" type="icon/icon" href="icon/icon.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="gurraoptimus">

<title>рќ•„рќ•†рќ•†в„• рќ•ѓрќ•Ђрќ”ѕв„Ќрќ•‹рќ•Љ</title>
<link rel="stylesheet" type="text/css" href="css/webb.css">
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
</head>

<body>
  <header>

  <div class="nav-bar">
  <a href="/" class="home"><img src="img/moonlightsstore.png" class="moonlightsstore"></a>
    <ul class="menu">
      <li><a href="index">login</a></li>
      <li><a href="sign-up">sign up</a></li>
      <li><a href="contact">contact</a></li>
      <li><a href="about">about</a></li>
    </ul>
  </div>

  <div class="Welcome cotainer">
    <h1>рќ•„рќ•†рќ•†в„• рќ•ѓрќ•Ђрќ”ѕв„Ќрќ•‹рќ•Љ</h1></a>
    
    <a href="http://www.facebook.com/store.gurraoptimus.se" class="btn btn1">FACEBOOK</a>
    <a href="https://www.youtube.com/channel/UCKTl0T2GUqwjyegQLQI086w/about" class="btn btn1">YOUTUBE</a>
    <a href="http://www.instagram.com/store.gurraoptimus.se" class="btn btn1">INSTAGRAM</a>
    <a href="http://www.twitch.tv/moonlightsstore" class="btn btn1">TWITCH</a>
  </div>


</header>

</body>
</html>

<%- include("home/footer") %>