<%- include("header") %>
<%- include("navbar") %>
<div class="mt-5">


<div class="formbox">
    <img src="img/profile.png" class="profile">
    <h1>admin</h1>
    <p>{G}</p>
    <p>{A}</p>
    <form action="/" method="POST">
    
    </form>

    </div>

</div>
<%- include("footer") %>